html,body,form{
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif !important;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}*/

.container {
    width: 1400px;   
}

/*CUSTOM CLASSES*/
/***********************************************************************************************/

body {
   background: #B4B4B4 url(../Images/body_bg.gif) repeat left top;
}

.body-content {
    background: #eee;
    padding-top: 25px;
}

.body-content {
    box-shadow: 0 0 10px #666;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar {
    box-shadow: 0 0 25px #333;
    margin-bottom: 0px !important;
}

.navbar-brand {
    padding-top: 3px;
}

.navbar-brand div {
    padding: 3px 0 0 0;
    margin: 0;
}

.brand-prefix {
    padding-top: 5px;
}

.headLogo {
    display: block;
    height: 25px;
    padding-left: 10px;
}

.rotate-up {
    -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg); 
      -ms-transform: rotate(-90deg); 
       -o-transform: rotate(-90deg); 
          transform: rotate(-90deg);
}

.h7 {
    font-size: x-small;
}

hr.last {
     margin-bottom: 5px;
     border-bottom: 1px solid #999;
}

hr.teeny {
     border-bottom: 1px solid #CCCCCC;
}

hr.smallmargin {
     margin-top: 10px;
     margin-bottom: 10px;
}

.nomargin {
    margin: 0;
}

.pad-l-sm {
    padding-left: 15px;
}

#filter .panel-heading {
    cursor: pointer;
}

#filter .panel-title .title:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: #999;   
}
#filter .collapsed .title:after {
    content: "\e114";
}

#filter .panel-title:after {
    content: "скрыть фильтр";
    font-weight: 600;
}

#filter .collapsed:after {
    content: "показать фильтр";
    font-weight: 600;
}

.full-width {
    width: 100%;
}

.width-20 {
    width: 20%;
    min-width: 30px !important;
}

.width-30 {
    width: 30%;
    min-width: 30px !important;
}

.width-40 {
    width: 40%;
    min-width: 30px !important;
}

.width-50 {
    width: 50%;
    min-width: 30px !important;
}